@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700');

:root {
  --bg-color: #f5f5f5;
  --main-font: 'Inter', sans-serif;
  --primary: #0b6bcb;
  --primary-dark: #084b8e;
  --text-primary: #32383e;
  --text-secondary: #9fa6ad;
  --border-color: #cdd7e1;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--text-primary);
  line-height: 24px;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
  color: var(--primary);
}
a:hover {
  color: var(--primary-dark);
}

button {
  border: none;
  background: var(--primary);
  color: white;
  display: block;
  cursor: pointer;
  font-weight: 700;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
  padding: 40px 0;
  background: var(--bg-color);
}
